# Binaries for programs and plugins
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# JetBrains IDE
.idea/

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
